<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concar.concar" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaMenuActivity" android:label="@string/title_activity_lista_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaCarrosActivity" android:label="@string/title_activity_lista_carros" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaUsuariosActivity" android:label="@string/title_activity_lista_usuarios" >
            <meta-data
                android:name="android.intent.action.LISTA_MENU_ACTIVITY"
                android:value=".ListaMenuActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaClientesActivity" android:label="@string/title_activity_lista_clientes" >
            <meta-data
                android:name="android.intent.action.LISTA_MENU_ACTIVITY"
                android:value=".ListaMenuActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaPropostasActivity" android:label="@string/title_activity_lista_proposta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastraUsuarioActivity" android:label="@string/title_activity_cadastra_usuario" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastraClienteActivity" android:label="@string/title_activity_cadastra_cliente" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastraCarroActivity"
            android:label="@string/title_activity_cadastra_carro" >
        </activity>
        <activity
            android:name=".CadastraPropostaActivity"
            android:label="@string/title_activity_cadastra_proposta" >
        </activity>
    </application>

</manifest>
